@import url('https://fonts.googleapis.com/css?family=Poppins:600,700"');

:root {
    --fg: #FD8B48;
    --fg2: #ed3868;
    --bg: #ffffff;
    --bg2: #F7F7F7;
    --bg3: #383434;
}

::selection {
    background: var(--fg2);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--fg2);
    /* Gecko Browsers */
}

/*
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--bg3);
}

h1 {
    font-size: 4vh;
    font-weight: 700;
    line-height: 3.8vh;
    text-align: left;
}

h2 {
    font-size: 2.6vh;
    font-weight: 700;
    line-height: 2.5vh;
    text-align: left;
    margin: 0;
    margin-bottom: 1.4vh;
}

.fg1 {
    color: var(--fg) !important;
}

.fg2 {
    color: var(--fg2) !important;
}

.fg3 {
    color: var(--fg3) !important;
}

p {
    font-size: 1.6vh;
    line-height: 2.4vh;
}

ul li {
    font-size: 1.6vh;
    line-height: 2.4vh;
}

.link {
    display: inline-block;
    font-size: 1.6vh;
    line-height: 2.4vh;
    color: var(--fg);
    text-decoration: none;
}

.showdisc {
    display: inline-block;
    font-size: 1.6vh;
    line-height: 2.4vh;
    color: var(--fg);
    text-decoration: none;
    cursor: pointer;
}

.showdisc span {
    cursor: text;
    position: relative;
    left: .2vw;
    opacity: 0;
    transition: .4s;
    mix-blend-mode: multiply;
}

.showdisc:hover span {
    left: .35vw;
    opacity: 1;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: .3vh;
    background: var(--fg);
    transition: all .5s;
}

.link:hover::after,
.link.active::after {
    width: 100%;
}

.link2 {
    color: var(--fg2);
}

.link2::after {
    background: var(--fg2);
}


body,
html {
    margin: none;
    background: var(--bg);
}

.underlined {
    box-shadow: inset 0 -.2vh var(--bg2), inset 0 -.4vh var(--fg);
    text-shadow: 0 .1vh var(--bg2), 0 -.15vh var(--bg2), .15vh 0 var(--bg2), -.15vh 0 var(--bg2);
}

cem {
    background: var(--fg);
}

.cont {
    opacity: 1;
    width: 25vw;
    position: absolute;
    left: 32.5vw;
    background: var(--bg2);
    padding: 4vh 5vw 6vh 5vw;
    color: var(--fg3);
    border-radius: .4vw;
    display: none;
}

.cont.default {
    display: block;
}

.header {
    margin: none;
    padding: 6vh 0;
}

.navbar {
    margin: 0 auto;
    width: 50%;
    left: 12.5%;
    position: relative;
    float: middle;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.navbar li {
    display: inline-block;
    text-align: center;
    width: 12.5%;
}

.productsCont {
    width: 25vw;
    height: 28vh;
    overflow: hidden;
}

.products {
    position: relative;
    border-collapse: collapse;
    transition: right 1s;
    right: 0;
}

.products.clicked {
    right: 120%;
}

.product {
    float: left;
    position: relative;
    transition: left 1s;
    left: 120%;
    width: 25vw;
    height: 28vh;
    display: block;
}

.p1 {
    top: -28vh;
}

.p2 {
    top: -56vh;
}

.p3 {
    top: -84vh;
}

.p4 {
    top: -112vh;
}

.product.clicked {
    left: 0;
}

.products td {
    text-align: center;
    width: 12.5vw;
    height: 14vh;
    background-size: cover;
    background-position: center;
    opacity: .7;
    color: white;
    font-size: 2.2vh;
    transition: opacity .6s;
    cursor: pointer;
}

.products:hover td {
    opacity: .6;
}

.products td:hover {
    opacity: .9;
}

.products td p {
    font-size: 1.8vh;
    display: inline-block;
    padding: .5vh 1.5vh;
    border: .2vh solid white;
    background: white;
    color: black;
    mix-blend-mode: screen;
}

#graphics {
    background-image: url("images/graphics.jpg");
}

#web {
    background-image: url("images/web.jpeg");
}

#apps {
    background-image: url("images/apps.jpg");
}

#music {
    background-image: url("images/music.jpg");
}

iframe {
    width: 48vh;
    height: 14vh;
}

.videoCont iframe {
    width: 32vh;
    height: 18vh;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 1vh;
    text-align: center;
    width: 100%;
}

button.link {
    background: none;
    border: none;
    outline: none;
}

@media only screen and (orientation: portrait) {

    html,
    body {
        overflow: hidden;
    }

    .cont {
        width: 80%;
        left: 5%;
    }

    .navbar {
        width: 90%;
        left: 7.5%;
    }

    .navbar li {
        width: 20%;
    }

    p,
    a,
    .link {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }

    .footer {
        display: none;
    }

    .productsCont {
        width: 80vw;
    }

    .products {
        width: 80vw;
    }

    .products td {
        width: 40vw;
    }

    .product {
        display: none;
    }

    .products.clicked {
        right: 0;
    }

}